{% extends 'base.html.twig' %}

{% block title %}New Categorie{% endblock %}

{% block body %}
  <div class="container col-md-6">
    <h1>Creation de categorie</h1>

    {{ include('categorie/_form.html.twig') }}

    {# <a href="{{ path('app_categorie_index') }}">liste de categorie</a> #}
</div>
{% endblock %}
